@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

$vermelha: #e50914;
$preta: #141414;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $preta;
    font-family: 'Roboto', sans-serif;
    color: #efefef;
}

.container-fluid{
    display: flex;
    padding: 10px;
    width: 100%;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px;
}

.btn{
    padding: 10px 30px;
    text-transform: uppercase;
    border: 1px solid $vermelha;
    background-color: rgba(0,0,0,.3);
    color: #efefef;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease-in-out;
    i{
        margin-right: 10px;
    }

    &:hover{
        background-color: #efefef;
        color: $preta;
        border-color: #efefef ;
    }
}

.main-header {
    .container-fluid{
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        text-transform: uppercase;
        color: $vermelha;
        font-weight: 900;
        font-size: 42px;
    }

    .main-menu{
            display: flex;
            gap: 20px;
            list-style: none;
            a{
                color: #aaa;
                transition: .3s;
                &:hover{
                    color: #efefef;
                }
            }
    }
}

.destaque{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('../img/houseofcards.jpg') no-repeat center center/cover;
    height: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container-fluid{
        flex-direction: column;
        align-content: flex-start;
        gap:20px;
        width: 70%;
    }
    .botoes{
        margin-top: 40px;
        display: flex;
        gap: 40px;
    }
    .titulo{
        font-size: 4rem;
    }
}

.movies-carousel{
    padding: 40px 10px;
    .title{
        font-size: 3rem;
        margin-bottom: 40px;
    }
    .item{
        img{
            transition: .3s ease-in-out all;
        }
        &:hover>img{
            opacity: .5;
        }
        &:hover>.botoes-carousel{
            display: flex;
        }
    }
    .botoes-carousel{
        position: absolute;
        top: 50%;
        display: none;
        justify-content: center;
        gap: 40px;
        width: 100%;
        a{
            color: white;
            text-decoration: none;
            font-size: 2.75rem;
            transition: .3s ease-in-out all;
            &:hover{
                color:$vermelha;
            }
        }
    }

}
@media (max-width:798px){
    .main-header {
        .container-fluid{
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
    } 

    .destaque{
        height: 500px;  
        .botoes{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .titulo{
            font-size: 3rem;
        }
    }
    .movies-carousel{
        .title{
            font-size: 2rem;
        }
        .botoes-carousel{
            gap: 20px;
            width: 100%;
            a{
                font-size: 1.75rem;
            }
        }
    }
}